/* This stylesheet is used to style the admin option form of the plugin. */
.sidebar {
	float: right;
	width: 400px;
	padding: 0px 10px;
}

.icon-plugins:before {
	font-family: "dashicons";
	content: "\f106";
}

.icon-networking:before {
	font-family: "dashicons";
	content: "\f325";
}
